.AdminSkillsPage {
  width: 100%;
  .main {
    width: 100vw;
    padding: 1cm 0 0 0.3cm;
    .section {
      text-align: center;
      color: cornflowerblue;
      margin: 0.5cm 0;
    }
    .item-heading {
      color: white;
      padding: 0.5cm 0 0 20%;
    }
  }
}